<div id="<%= dom_id rating_appointment %>">
  <p>
    <strong>User:</strong>
    <%= rating_appointment.user_id %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= rating_appointment.rate %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= rating_appointment.appointment_id %>
  </p>

</div>
