<h1>Editing rating appointment</h1>

<%= render "form", rating_appointment: @rating_appointment %>

<br>

<div>
  <%= link_to "Show this rating appointment", @rating_appointment %> |
  <%= link_to "Back to rating appointments", rating_appointments_path %>
</div>
